@font-face {
    font-family: 'WubbaLubbaDubDub';
    src: url('../fonts/WubbaLubbaDubDub.otf') format('opentype'),
         url('../fonts/WubbaLubbaDubDub.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }